* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(backimage/R.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}

header {
    background-color: #000;
    height: 50px;
}

h1 {
    color: tomato;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 15px;
}

a {
    color: tomato;
}

h2 {
    padding: 0 0 0 125px;
    line-height: 150px;

    letter-spacing: 1px;
}

footer {
    text-align: center;
    color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;
}

.formulario {
    width: 26vw;
    background:rgba(255, 255, 255, 0.602); 
    height:60vh;
    margin: 5% 37%;
    border-radius: 16px;

}

.elementos-formulario {
    padding: 5% 30% 0 30%;
}

.escolhas {
    padding: 0% 30%;
    font-family: cursive;
}

#nome {
    margin-bottom: 16px;
    font-family: cursive;
}

#email {
    margin-bottom: 16px;
    font-family: cursive;
}

#apelido {
    margin-bottom: 16px;
    font-family: cursive;
}